NET_USE_DHCP=On

SESSION_0_TITLE="Aurora VNC"
SESSION_0_TYPE=vncviewer
SESSION_0_AUTOSTART=FULLSCREEN
SESSION_0_VNCVIEWER_SERVER=server.lan:1
SESSION_0_VNCVIEWER_OPTIONS="-FullScreen"
