[Unit]
Description=install-nix-software
After=network-online.target
Requires=network-online.target

[Service]
User=root
WorkingDirectory=/
ExecStart=/usr/sbin/install-nix-software.sh
RemainAfterExit=true
Type=oneshot

[Install]
WantedBy=multi-user.target
