[Unit]
Description=Vikunja
After=syslog.target
After=network.target

[Service]
RestartSec=2s
Type=simple
WorkingDirectory=/opt/vikunja
ExecStart=/opt/vikunja/vikunja
Restart=always

[Install]
WantedBy=multi-user.target
